@{
    ViewBag.Title = "Potwierdzenie rejestracji nowego konta";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Aby potwierdzić rejestrację nowego konta proszę zalogować się na swoją skrzynkę pocztową i kliknąć w przesłany link.
    </p>
    <p>
        W przypadku braku wiadomości w skrzynce odbiorczej proszę sprawidzć folder ze spamem.
    </p>
</div>