@{
    ViewBag.Title = "Potwierdzenie odzyskiwania hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdzić skrzynkę pocztową i kliknąć w wysłany w wiadomości link.
    </p>
    <p>
        W przypadku braku wiadomości w skrzynce odbiorczej proszę sprawidzć folder ze spamem.
    </p>
</div>
	
