
@{
    ViewBag.Title = "Wiadomość wysłana";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>
        Wiadomość została wysłana na podany wcześniej adres e-mail. Sprawdź swoją skrzynkę pocztową.
    </p>
    <p>
        W przypadku braku wiadomości w skrzynce odbiorczej proszę sprawidzć folder ze spamem.
    </p>
</div>

