@model IEnumerable<ShopDemo.ViewModels.ParentCategoryProductAtributeViewModel>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                @{
                    int counter = 0;
                    foreach (var attribute in Model)
                    {
                        if (counter++ % 3 == 0)
                        {
                            @:</tr><tr>
                            }
                            @:<td style="border:none">
                                <input type="checkbox" name="selectedAttributes"
                                       value="@attribute.Name"
                                       @(Html.Raw(attribute.IsSelected ? "checked=\"checked\"" : "")) />
                                @attribute.Name
                                @:</td>
                            }
                            @:</tr>
                        }
        </table>
        <button type="button" id="btnSaveCheckboxChanges" class="btn btn-success">Dodaj</button>
    }
    else
    {
        <p>Brak danych</p>
    }
}
else
{
    <p>Brak kategorii nadrzędnej</p>
}