@model IEnumerable<ShopDemo.ViewModels.UserOrdersListViewModel>

@{
    ViewBag.Title = "Zamówienia";
}

<h2>@ViewBag.Title</h2>
<input type="hidden" id="message" value="@ViewBag.Message" />

<br />

@{
    if (Model.Count() != 0)
    {
        foreach (var order in Model)
        {
        @Html.DisplayFor(m => order, "UserOrdersList")
        }
    }
    else
    {
        <p>Brak zamówień</p>
    }
}

<script>
    $(document).ready(function () {
        var message = $('#message').val();
        if (message != '') {
            alertSuccess(message);
            $('#message').val('');
        }
    });
</script>