@model ShopDemo.ViewModels.OrderInfoEmail

Content-Type: text/html; charset=utf-8

<html>
<body>
    <h2>@Model.Message</h2>
    <h3><a href="@Model.OrderDetailsUrl">Szczegóły zamówienia</a></h3>
</body>
</html>
